@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto" !important;
}

body {
  background-color: #f2f2f3;
  overflow: hidden;
}

.gm-control-active,
.gm-fullscreen-control {
  display: none !important;
}

.gm-style-iw-tc {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  .gm-style-iw,
  .gm-style-iw-c,
  .gm-style-iw-d {
    background-color: #1f2937 !important;
    color: #f2f2f3;
  }
  *::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* Transition classes */
.alert-slide-enter-from,
.alert-slide-leave-to {
  opacity: 0;
  transform: translateX(100%);
}
.alert-slide-enter-active,
.alert-slide-leave-active {
  transition: all 0.4s ease;
}
.alert-slide-enter-to,
.alert-slide-leave-from {
  opacity: 1;
  transform: translateX(0);
}

/* Анимация открытия/закрытия */
.accordion-enter-active, .accordion-leave-active {
  transition: all 0.3s ease;
  overflow: hidden;
}
.accordion-enter-from, .accordion-leave-to {
  max-height: 0;
  opacity: 0;
}
.accordion-enter-to, .accordion-leave-from {
  max-height: 500px; /* Достаточно для контента */
  opacity: 1;
}